test-import-2.json
{
  "name": "Test 2 - Set Node with Multiple Fields",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "xUsername",
              "value": "testuser",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "tweetLimit",
              "value": 100,
              "type": "number"
            },
            {
              "id": "a3",
              "name": "searchLimit",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Test code node\nconst username = $input.first().json.xUsername;\nconst limit = $input.first().json.tweetLimit;\n\nreturn {\n  message: `User: ${username}, Limit: ${limit}`,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "3",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-17T00:00:00.000Z",
  "versionId": "1"
}
