n8n-powerhouse/examples/x-profile-analyzer-simple.json
{
  "name": "X Profile Analyzer - Simple",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "xUsername",
              "value": "YourTwitterHandle",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.twitter.com/2/users/by/username/{{ $json.xUsername }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "user.fields",
              "value": "description,public_metrics"
            }
          ]
        }
      },
      "id": "get-profile",
      "name": "Get X Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.twitter.com/2/users/{{ $json.data.id }}/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "max_results",
              "value": "50"
            },
            {
              "name": "exclude",
              "value": "retweets,replies"
            }
          ]
        }
      },
      "id": "get-tweets",
      "name": "Get Recent Tweets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const profile = $('Get X Profile').first().json.data;\nconst tweets = $('Get Recent Tweets').first().json.data || [];\n\nconst tweetTexts = tweets.map(t => t.text).join('\\n---\\n');\n\nreturn {\n  username: profile.username,\n  bio: profile.description,\n  followerCount: profile.public_metrics.followers_count,\n  recentTweets: tweetTexts\n};"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "summary",
              "value": "=Profile: @{{ $json.username }}\\nBio: {{ $json.bio }}\\nFollowers: {{ $json.followerCount }}\\n\\nReady for AI analysis!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Get X Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get X Profile": {
      "main": [
        [
          {
            "node": "Get Recent Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Tweets": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-15T00:00:00.000Z",
  "versionId": "1"
}
