workflows/n8n/bolt-fleet-summary.json
{
  "name": "Bolt Fleet Daily/Weekly Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oidc.bolt.eu/token",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $env.BOLT_CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $env.BOLT_CLIENT_SECRET }}"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "scope",
              "value": "fleet-integration:api"
            }
          ]
        },
        "options": {
          "bodyContentType": "form-urlencoded"
        }
      },
      "id": "b2c3d4e5-f6a7-4b5c-9d0e-1f2a3b4c5d6e",
      "name": "Get Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.bolt.eu/fleet/drivers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $json.access_token }}"
              }
            ]
          }
        }
      },
      "id": "c3d4e5f6-a7b8-4c5d-0e1f-2a3b4c5d6e7f",
      "name": "Drivers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        140
      ]
    },
    {
      "parameters": {
        "url": "https://api.bolt.eu/fleet/payouts/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $json.access_token }}"
              }
            ]
          }
        }
      },
      "id": "d4e5f6a7-b8c9-4d5e-1f2a-3b4c5d6e7f8a",
      "name": "Daily Payouts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://api.bolt.eu/fleet/trips/daily?aggregate=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $json.access_token }}"
              }
            ]
          }
        }
      },
      "id": "e5f6a7b8-c9d0-4e5f-2a3b-4c5d6e7f8a9b",
      "name": "Trips Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://api.bolt.eu/fleet/trips?days=7&aggregate=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $json.access_token }}"
              }
            ]
          }
        }
      },
      "id": "f6a7b8c9-d0e1-4f5a-3b4c-5d6e7f8a9b0c",
      "name": "Trips 7d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "g7h8i9j0-k1l2-4m5n-6o7p-8q9r0s1t2u3v",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        900,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all merged items\nconst items = $input.all();\n\n// Extract data from each position\n// Position 0: Drivers, 1: Payouts, 2: Trips Today, 3: Trips 7d\nconst driversData = items.find(item => item.json.drivers) || { json: { drivers: [] } };\nconst payoutsData = items.find(item => item.json.total_amount !== undefined || item.json.payouts) || { json: {} };\nconst tripsTodayData = items.find(item => item.json.trips && item.json.period === 'today') || \n                       items.find(item => item.json.trips && !item.json.period) || \n                       { json: { trips: [] } };\nconst trips7dData = items.find(item => item.json.trips && item.json.period === 'week') || \n                    items[items.length - 1] || \n                    { json: { trips: [] } };\n\nconst drivers = driversData.json.drivers || [];\nconst dailyPayouts = payoutsData.json || {};\nconst todaysTrips = tripsTodayData.json.trips || tripsTodayData.json.data || [];\nconst trips7 = trips7dData.json.trips || trips7dData.json.data || [];\n\n// Helper function to sum array values\nconst sum = (arr, fn) => arr.reduce((a, b) => a + (fn(b) || 0), 0);\n\n// Calculate today's metrics\nconst todayKm = sum(todaysTrips, t => t.distance_km || t.distance);\nconst todayCash = sum(todaysTrips, t => t.cash_amount || t.cash);\nconst todayInApp = sum(todaysTrips, t => t.in_app_amount || t.amount);\n\n// Calculate weekly metrics\nconst weekKm = sum(trips7, t => t.distance_km || t.distance);\nconst weekCash = sum(trips7, t => t.cash_amount || t.cash);\nconst weekInApp = sum(trips7, t => t.in_app_amount || t.amount);\n\n// Return summary object\nreturn {\n  driver_count: drivers.length,\n  today: {\n    trips: todaysTrips.length,\n    km: todayKm.toFixed(2),\n    cash: todayCash.toFixed(2),\n    in_app: todayInApp.toFixed(2),\n    total: (todayCash + todayInApp).toFixed(2),\n    payouts: dailyPayouts\n  },\n  week: {\n    trips: trips7.length,\n    km: weekKm.toFixed(2),\n    cash: weekCash.toFixed(2),\n    in_app: weekInApp.toFixed(2),\n    total: (weekCash + weekInApp).toFixed(2)\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "a7b8c9d0-e1f2-4a5b-4c5d-6e7f8a9b0c1d",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        320
      ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "Drivers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Daily Payouts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trips Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trips 7d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drivers": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Payouts": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trips Today": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Trips 7d": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-11T00:00:00.000Z",
  "versionId": "2"
}
